.lastVote {
    border-radius: 2px;
    box-shadow: 0 4px 8px -2px $black-32;
    height: 40px;
    position: relative;
    width: 24px;

    .voteStatus {
        position: absolute;
        bottom: 0; left: 0;
        height: 50%;
        transition: height 1000ms ease-in-out;
        width: 100%;
    }
}