@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:700');

a { text-decoration: none; }

body {
    font-family: "Big Shoulders Text", sans-serif;
    @media (prefers-color-scheme: dark) { background-color: $gray--dark; color: #ffffff; }
}

button { font-family: "Big Shoulders Text", sans-serif }