$red--light: #F30C47; //red--light
$red--dark: #66001A; //red--dark

$blue--light: #006CEF; //blue--light
$blue--dark: #10479C; //blue--dark

$green--light: #83E815; //green--light

$white: #FFFFFF; //white
$gray--light: #D8D8D8; //gray--light
$gray: #595959; //gray
$gray--dark: #1A1A1A; //gray--dark
$black: #000000; //black

$black-08: rgba($black, 0.08); //black-08
$black-24: rgba($black, 0.24); //black-24
$black-32: rgba($black, 0.32); //black-32
$black-48: rgba($black, 0.48); //black-48

$gray-0--dark: rgba($gray--dark, 0); //gray-0--dark
$gray-08--dark: rgba($gray--dark, 0.08); //gray-08--dark
$gray-32--dark: rgba($gray--dark, 0.32); //gray-32--dark
$gray-48--dark: rgba($gray--dark, 0.48); //gray-48--dark
$gray-72--dark: rgba($gray--dark, 0.72); //gray-72--dark

$white-0: rgba($white, 0); //white-0
$white-08: rgba($white, 0.08); //white-08
$white-16: rgba($white, 0.16); //white-16
$white-24: rgba($white, 0.24); //white-24
$white-32: rgba($white, 0.32); //white-32
$white-48: rgba($white, 0.48); //white-48
$white-72: rgba($white, 0.72); //white-72